.Task{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom:2px solid teal ;    
    padding: 2em;
    justify-content: space-between;
}
.Task ul{
    width: 100%;
    list-style: none;
}
.Task li{
    flex: 1;
}
.Task li p:hover{
    cursor: pointer;
}

.Task li.control{
    flex:0 0 20%;
}
.control{
    justify-items: start;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap:0.3em;
}
.control #delete{
    grid-column: 1/ -1;
    justify-self: stretch;
}
.check{
    width: 100%;
    height: 30px;
    justify-self: center;
    align-self: center;
    /* background-color: red; */
}