#tasks{
    display: flex;
    padding: 0 3em;
    flex-direction: column;
    flex-grow: 1;
    background-color: aqua;
    align-items: flex-start;
    justify-content: center;
}
#tasks ul{
    width: 100%;
    list-style: none;
}