#Modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    background-color: rgba(0,0,0,0.95);
    color:#FAFAFA;
    display: flex;
    flex-direction: column;
    gap:2em;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#Modal *{
    max-width: 350px;
    min-width: 300px;
}